@model RentACar.Models.Rezervasyon

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RezervasyonId)

        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="RezerveTarih">
                Rezervasyon Tarihi<span class="required">*</span>
            </label>
            <div class="col-md-10">
                <div class="input-group date form_datetime" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                    <input name="RezerveTarih" class="form-control" type="text">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span style="margin-left:5px;font-size:25px;font-weight:normal;color:grey;" class="glyphicon glyphicon-calendar fa fa-calendar "></span></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RezerveSure,"Rezervasyon Süresi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RezerveSure, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RezerveSure, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="RezerveTarih">
                Rezervasyon  Bitiş Tarihi<span class="required">*</span>
            </label>
            <div class="col-md-10">
                <div class="input-group date form_datetime" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                    <input id="RezerveBitisTarihi" class="form-control" type="text" value="" name="RezerveBitisTarihi" required="required">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span style="margin-left:5px;font-size:25px;font-weight:normal;color:grey;" class="glyphicon glyphicon-calendar fa fa-calendar "></span></span>
                </div>

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MusteriID, "Müşteri Adı Soyadı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MusteriID, new SelectList(ViewBag.MusteriGetir, "MusteriId", "AdiSoyadi"), "Lütfen Seçiniz", new { @class = "form-control", id = "MusteriID", name = "MusteriID" })
                @Html.ValidationMessageFor(model => model.MusteriID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AracID, "Rezerve Araç", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AracID, new SelectList(ViewBag.AracGetir, "AracId", "Plaka"), "Lütfen Seçiniz", new { @class = "form-control", id = "AracID", name = "AracID" })
                @Html.ValidationMessageFor(model => model.AracID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RezerveUcret,"Tutar", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RezerveUcret, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RezerveUcret, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RezerveUcretBirimi,"Rezerve Ücret Birimi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RezerveUcretBirimi, new SelectList(
                  new List<Object>{
                       new { value ="TL" , text = "TL"  },
                       new { value = "Euro", text = "Euro" },
                       new { value = "Dolar", text = "Dolar" },
                    },
                  "value",
                  "text",
                   3), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RezerveUcretBirimi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">

                <a href="~/Rezervasyon/List" class="btn btn-success">Geri Dön</a>
                <button id="Create" value="Create" type="submit" class="btn btn-success">Ekle</button>
            </div>
        </div>
    </div>
}

<script>
        $(document).ready(function () {
            $.fn.datetimepicker.dates['tr'] = {
                days: ["Pazar", "Pazartesi", "Salı", "Çarşamba", "Perşembe", "Cuma", "Cumartesi", "Pazar"],
                daysShort: ["Pz", "Pzt", "Sal", "Çrş", "Prş", "Cu", "Cts", "Pz"],
                daysMin: ["Pz", "Pzt", "Sa", "Çr", "Pr", "Cu", "Ct", "Pz"],
                months: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                monthsShort: ["Oca", "Şub", "Mar", "Nis", "May", "Haz", "Tem", "Ağu", "Eyl", "Eki", "Kas", "Ara"],
                today: "Bugün",
                suffix: [],
                meridiem: []
            };

            $(".form_datetime").datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                language: 'tr'
            }).datetimepicker('setDate', new Date()).datetimepicker('update');
        });
</script>